@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero {
        @apply h-screen bg-hero bg-fixed bg-cover relative flex before:content-['*'] before:bg-black/60 before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0;
    }

    .hero-container {
        @apply absolute top-20 md:top-1/3 bottom-0 left-0 right-0 justify-center items-center text-center text-white mt-10;
    }

    .navbar {
        @apply font-semibold uppercase hover:text-orange-logo hover:underline;
    }
}
